<h1>Listing tweets</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Tweeted at</th>
    <th>Tweet time</th>
    <th>Repeat</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td id="tweet_content"><%= tweet.content %></td>
    <td id="tweet_tweeted_at"><%= tweet.tweeted_at %></td>
    <td id="tweet_tweet_time"><%= tweet.tweet_time %></td>
    <td id="tweet_repeat"><%= tweet.repeat %></td>
    <td id="show"><%= link_to 'Show', tweet, :id => 'show' %></td>
    <td id="edit"><%= link_to 'Edit', edit_tweet_path(tweet), :id => 'edit' %></td>
    <td id="destroy"><%= link_to 'Destroy', tweet, :confirm => 'Are you sure?', :method => :delete, :id => 'destroy' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tweet', new_tweet_path %>
